*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 90vh;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.219);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.219);
}

@media screen and (max-width: 700px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

.container .left {
  position: relative;
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00ffaa;
}

.container .left img.logo {
  width: 65%;
}

@media screen and (max-width: 700px) {
  .container .left img.logo {
    width: 30%;
  }
}

.container .left::before {
  z-index: -1;
  padding: 0;
  margin: 0;
  background: #00ffaafa;
  position: absolute;
  content: "";
  top: -2.5rem;
  left: -4.2rem;
  height: 100vh;
  width: 125%;
}

@media screen and (max-width: 700px) {
  .container .left::before {
    top: -2.5rem;
    left: -2.5rem;
    width: 103vw;
    height: 115%;
  }
}

.container .left p.desc {
  color: rgba(0, 0, 0, 0.897);
  text-align: center;
}

.container .right {
  padding: 3rem;
  width: 100%;
  position: relative;
}

.container .right .need_help {
  font-weight: normal;
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.664);
}

.container .right .form_title {
  margin-top: 15vh;
  margin-bottom: 4vh;
  text-align: center;
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.705);
}

@media screen and (max-width: 700px) {
  .container .right .form_title {
    margin-top: 2vh;
  }
}

.container .right form {
  margin: 0 auto;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 500px) {
  .container .right form {
    width: 95%;
  }
}

.container .right form label {
  margin-bottom: .5rem;
  color: rgba(0, 0, 0, 0.822);
}

.container .right form input {
  outline: none;
  border: 0.3px solid rgba(0, 0, 0, 0.15);
  padding: .6rem;
  border-radius: 3px;
}

.container .right form #email {
  margin-bottom: 1rem;
}

.container .right form .forgot_password {
  margin: .5rem;
  text-align: right;
  color: rgba(0, 0, 0, 0.65);
}

.container .right form button {
  margin-top: 2rem;
  padding: .6rem;
  border: none;
  outline: none;
  background: #00ffaa;
}
/*# sourceMappingURL=style.css.map */